#notifications_services_list_grid .modal-body {
    text-align: right;
    font-size: 15px;
}

#notifications_services_list_grid .modal-content {
	width: 75%;
}

#notifications_services_list_grid .modal-buttons {
    text-align: center;
}

#notifications_services_list_grid .modal-buttons button{
    margin-left: 6px;
    margin-top: 10px;
}

.contactus-title {
	font-size:22px; 
	text-shadow:0px 0px #094c87; 
	color:#0c6bbe;
}

.send-support-form-row .form-group {
	margin-bottom: 4px;
}

.send-support-form-submit-btn {
	background-color: #3084e7;
	color: #fff;
    height: 32px;
    margin-bottom: 15px;
}