#dialog_shared_messages_edit_modal .modal-body {
    text-align: right;
    font-size: 15px;
}

#dialog_shared_messages_edit_modal .modal-content {
	width: 75%;
}

#dialog_shared_messages_edit_modal .modal-buttons {
    text-align: center;
}

#dialog_shared_messages_edit_modal .modal-buttons button{
    margin-left: 6px;
    margin-top: 10px;
}

#show_shared_message_description_modal {
    text-align:unset;
}

#show_shared_message_description_modal_title,
#show_shared_message_description_modal_buttons {
    text-align:center;
}

#show_shared_message_description_modal .modal-content {
    width: 1250px;
}