#dialog_subscription_edit_modal .modal-body,
#dialog_set_subscription_training_modal .modal-body,
#dialog_subscription_training_list_modal .modal-body,
#show_train_description_modal .modal-body {
    text-align: right;
    font-size: 15px;
}

#dialog_subscription_edit_modal .modal-content,
#dialog_subscription_training_list_modal .modal-content,
#dialog_set_subscription_training_modal .modal-content {
	width: 75%;
}

#dialog_subscription_edit_modal .modal-buttons,
#dialog_subscription_training_list_modal .modal-buttons,
#show_train_description_modal .modal-buttons,
#dialog_set_subscription_training_modal .modal-buttons {
    text-align: center;
}

#dialog_subscription_edit_modal .modal-buttons button,
#dialog_subscription_training_list_modal .modal-buttons button,
#dialog_set_subscription_training_modal .modal-buttons button{
    margin-left: 6px;
    margin-top: 10px;
}

#show_train_description_modal .modal-content {
    width: 65%;
}
