@media (min-width: 768px) {
	.navbar-nav > li {
		float: right;
	}
}

.navbar-nav {
    float: right;
}

/* .navbar-brand {
	padding: 0px;
} */

.navbar-brand-img {
	position: absolute;
	width: 50px;
	right: 9px;
}

#startPageNavbarNavTag {
	min-height: 83px;
}

#mainNavbarNavTag {
	display: none;
}

#mainNavbar ul {
	text-align: right;
	width: 100%;
}

#mainNavbar .main-navbar-icon-btn {
	margin-left: 4px;
}

@media (max-width: 767px) {
	#mainNavbar li[module_name="logout"] {
		float: unset !important;
	}

	.navbar-brand-img {
		display: none;
	}
}