#dialog_user_edit_modal .modal-body {
    text-align: right;
    font-size: 15px;
}

#dialog_user_edit_modal .modal-content {
	width: 75%;
}

#dialog_user_edit_modal .modal-buttons {
    text-align: center;
}

#dialog_user_edit_modal .modal-buttons button{
    margin-left: 6px;
    margin-top: 10px;
}

#dialog_select_user_modal .modal-content {
	width: 55%;
}

#select_user_modal_grid {
    width: 100%;
    margin: 0px auto 20px auto;
    overflow: auto;
}