.form-asterisk-cp1 {
	font-size: 8px;
	margin-left: 3px;
	display: inherit;
	height: 11px;
	color: red;
}

.form-asterisk-cp1 i {
	top: 0px;
	display: flex;
}

.datetimepicker .datetimepicker-icon:last-child {
	border: 1px solid #ccc;
	border-right: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 4px;
}

.datetimepicker .bootstrap-datetimepicker-widget .list-unstyled {
	padding-right: 5px;
	padding-left: 5px;
}

.btn-group .dropdown-menu {
	text-align: right;
}

.add-btn-s {
	background-color:#388E3C !important;
}

.note-editor {
	direction: ltr;
	text-align: left;
}

.note-editor .modal-header {
	text-align: right;
	background-color: rgb(0, 184, 192);
	padding: 5px;
}

.note-editor .modal-header .modal-title {
	text-align: center;
}

.note-editing-area {
	direction: rtl;
	text-align: right;
}

.note-statusbar .note-resizebar {
	cursor: unset !important;
}

.note-statusbar .note-icon-bar {
	display: none;
}

.clickable-input {
	cursor: pointer;
	background-color: #1490ac;
	outline: none;
	color: transparent;
    text-shadow: 0 0 0 #fff;
}