.main-modules-grids-s {
	width: 95%;
    margin: 20px auto 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 0px 0px 0px 0px;
	overflow: auto;
}

[grid-table="true"] table th,
[grid-table="true"] table td{
	text-align: right !important;
}

.grid-table-base {
	margin-bottom: 0px;
}

.grid-table-base .numeration_column {
	width: 25px;
}

.grid-table-base .empty-t-row {
	height: 37px;
}

.grid-table-base .containing-t-row {
	cursor: pointer;
}

.grid-table-base .grid-table-selected-row {
	background-color: #616161 !important;
	color: #fff !important;
}

.grid-table-base th[sortable="true"] {
	cursor: pointer;
}

.grid-table-base i[icon-name="column-sort-icon"] {
	display: none;
	margin-right: 5px;
}

@media (min-width: 768px) {
	.top-tool-bar .top-tool-bar-group .top-tool-bar-field {
		margin-right: 10px;
	}
}

.bottom-tool-bar {
	width: 100%;
	height: 41px;
	padding: 3px 0px;
	text-align: right;
}

.bottom-tool-bar .btb-div {
	height: 100%;
	display: inline-block;
}

.bottom-tool-bar .btb-navigation-pages {
	width: 270px;
	padding: 0px 15px;
}

.bottom-tool-bar .btb-navigation-pages .btbnp {
	font-size: 22px;
	height: 100%;
	padding: 0px 0px;
	width: 23px;
	margin: 0px 3px;
}

.bottom-tool-bar .btb-navigation-pages button {
	background-color: transparent;
}

.bottom-tool-bar .btb-navigation-pages .btbnp-page-input {
	width: 30px;
	display: unset;
	font-size: 14px;
	text-align: center;
	margin: 0px 6px;
	padding: 0px;
}

.bottom-tool-bar .btb-counts-info {
	float: left;
	width: 155px;
	font-size: 12px;
	padding-top: 9px;
	padding-left: 15px;
	text-align: end;
}

