/* The Modal (background) */
div[name="modal_window"] {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 5000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	font-family: 'Open Sans Hebrew', sans-serif;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	text-align: center;
}

/* Modal Content */
div[name="modal_window"] .modal-content {
	position: relative;
	background-color: #fff;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 35%;
	min-width: 675px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	min-width: 500px;
	border-radius: 0px 0px 10px 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0};
	to {top:0; opacity:1};
}

@keyframes animatetop {
	from {top:-300px; opacity:0};
	to {top:0; opacity:1};
}

div[name="modal_window"] .modal-body {
	background-color: #fff;
	padding: 18px;
	font-size: 16px;
	border-radius: 0px 0px 10px 10px;
}

/* The Close Button */
div[name="modal_window"] .close {
	color: #fff;
	position: absolute;
	right: 7px;
	top: 3px;
	font-size: 28px;
	font-weight: bold;
}

div[name="modal_window"] .close:hover,
div[name="modal_window"] .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

div[name="modal_window"] .modal-title {
	font-family: 'Open Sans Hebrew', sans-serif;
	width: 100%;
	display: block;
	background-color: rgb(0, 184, 192);
	color: #fff;
	font-size: 24px;
	height: 37px;
	line-height: 37px;
}

div[name="modal_window"] .modal-text {
	width: 100%;
	display: block;
	font-weight: bold;
}

div[name="modal_window"] .modal-buttons {
	width: 100%;
	display: block;
}

div[name="modal_window"] .modal-buttons button {
	border: none;
	font-family: 'Open Sans Hebrew', sans-serif;
	display: inline-block;
	transition: all ease 0.2s;
	border-radius: 2px;
	/*cursor: pointer;*/
	background-color: #282828;
	color: #fff;
	min-width: 120px;
	font-size: 16px;
	padding: 5px 7px 5px 7px;
}

div[name="modal_window"] .modal-buttons button:hover,
div[name="modal_window"] .modal-buttons button:focus {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}