/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 052 css*/
.jssorb052 .i {position:absolute;cursor:pointer;}
.jssorb052 .i .b {fill:#000;fill-opacity:0.3;}
.jssorb052 .i:hover .b {fill-opacity:.7;}
.jssorb052 .iav .b {fill-opacity: 1;}
.jssorb052 .i.idn {opacity:.3;}

/*jssor slider arrow skin 053 css*/
.jssora053 {display:block;position:absolute;cursor:pointer;}
.jssora053 .a {fill:none;stroke:#a2a2a2;stroke-width:640;stroke-miterlimit:10;}
.jssora053:hover {opacity:.8;}
.jssora053.jssora053dn {opacity:.5;}
.jssora053.jssora053ds {opacity:.3;pointer-events:none;}

#home_page_welcome_block {
    height: 240px;
}

#home_page_panel {
    margin-bottom: 30px;
    padding: 20px 20px;
}

#home_page_gym_name {
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

#home_page_slide_bar .slide-block {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5px 50px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
}

#home_page_slide_bar .slide-block-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}


