#dialog_gym_branch_edit_modal .modal-body {
    text-align: right;
    font-size: 15px;
}

#dialog_gym_branch_edit_modal .modal-content {
	width: 75%;
}

#dialog_gym_branch_edit_modal .modal-buttons {
    text-align: center;
}

#dialog_gym_branch_edit_modal .modal-buttons button{
    margin-left: 6px;
    margin-top: 10px;
}