html {
	direction: rtl !important;
	font-family: 'Open Sans Hebrew', sans-serif;
	font-family: sans-serif;
  	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #eee !important;	
}

.main-module-title {
	border-bottom: 2px solid #fff;
}

.main-module-title .panel-title{
	font-size: 18px;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, 
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
.col-md-8, .col-md-9 {
    float: right;
}

.add-btn-s:hover {
	background-color:#2E7D32 !important;
}

.hidden-class {
	display: none;
}

.btn-fa-icon-cls {
	margin-left: 8px;
}

.mrg-l-7 {
	margin-left: 7px;
}

.mrg-l-8 {
	margin-left: 8px;
}

.mrg-l-9 {
	margin-left: 9px;
}

.mrg-l-10 {
	margin-left: 10px;
}

.mrg-r-15 {
	margin-right: 15px;
}

.fo-co-red-info {
	color: #5bc0de;
}

.fo-co-red-danger {
	color: #c12e2a;
}

.fo-co-red-warning {
	color: #f0ad4e;
}

.fo-co-red-primary {
	color: #265a88;
}

.fo-co-red-success {
	color: #419641;
}

.drop-down-menu-caret {
	margin-left: 8px !important;
}

/* preloader */
.preloader{
	display: none; 
	left: calc(50% - 50px); 
	top: calc(50% - 50px); 
	position: fixed; 
	z-index: 5001;
	width: 100px;
	height :100px;
	border-radius: 15px;
	padding: 10px;
}

.loader-simplistic
{
	outline: 1px solid transparent;

	width: 100%;
	height: 100%;
	display:inline-block;
	padding:0px;
	
	border-radius:100%;
	border:7px solid;
	border-top-color:rgba(0,184,192, 65);
	border-bottom-color:rgba(0,0,0, 0.15);
	border-left-color:rgba(0,184,192, 65);
	border-right-color:rgba(0,0,0, 0.15);
	
	-webkit-animation: loader-simplistic 0.8s linear infinite;
	animation: loader-simplistic 0.8s linear infinite;
}
@keyframes loader-simplistic
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes loader-simplistic
{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

#copyright_footer {
	text-align: center;
	padding: 5px 18px;
	font-size: 11px;
	color: #737373;
	direction: ltr;
	line-height: 1.34;
    width: 100%; 
    border-top: solid 1px #ddd; 
    background: white; 
    position: fixed; 
    bottom: 0; 
}